html {
    font-size: 62.5%;
    }
body {
    background-color: #454851;
}
img {
    max-width: 100%;
}
.footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 7rem 7rem;
    background-color: #95d7ae;
    margin-top: 5rem;
    }
.margintop {
    margin-top: 10rem;
}
.header__companylogo {
    width: 35rem;
    position:absolute; left:-55px; top:-50px;
}
.header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    }
.header__banner {
    display: flex;
    justify-content: center;
}
.content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    }
.content__title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    color: white;
    text-align: center;
    padding: 4rem;
}
.content__title--left {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    color: white;
    text-align: left;
    margin-top: 5rem;
    margin-left: 22rem;
    margin-bottom: 5rem;
}
.content__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 5rem;
    }
.content__images--size {
    width: 100%;
    margin: 1rem;  
}
.content__mechanic {
    margin-top: 3rem;
}
.content__text {
    padding: 5rem;
}
.link {
    color: #95d7ae;
}
.racing {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.company {
    width: 12rem;
}
.navbar-color {
    background: #95d7ae;
}
.navbar__item--color {
    color: white;
}
.card__body--color {
    background: #7bae7f;
}
.btn__color {
    background: #454851;
    font-size: 2rem;
}
.send__color {
    background: #95d7ae;
    font-size: 2rem;
}
.card__image--size {
    height: 16rem;
}
.card__dad {
    justify-content: center;
}
.only__large {
    display: none;
}
.only__mid {
    display: none;
}
.carousel__size {
    width: 100%;
}
.my__row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}
@media (min-width: 992px) {
    .only__large {
    display: flex;
    }
    .card__query--lg {
    display: none;
    }
    .carousel__size {
    width: 65rem;
    }
    .content__images--size {
    width: 40rem;
    }
    .racing {
    width: 70rem;
    margin: 2rem;
    }
    .content__mechanic {
        width: 80rem;
    }
}
@media (min-width: 857px)  {
    .only__mid {
        display: flex;
    }
    .content__images--size {
        width: 40rem;
    }
}