
@import "variables";

html {
    font-size: 62.5%;
}
img {
    max-width: 100%;
}
.content {
    font-family: $font;
    font-size: $text-size;
    color: $text-color;
    text-align: center;

    h1 {
        font-size: $text-size + 3rem;
        padding: 4rem;
    }

    header {
        font-size: $text-size + 3rem;
    }
}
.content__images {
    @include images;
    margin-top: $spacing;
    margin-bottom: $spacing;

    img {
        width: 100%;
        margin: $spacing - 4rem; 
    }
}
.carousel__images {
    height: 26rem;
}
.only__large {
    display: none;
}
.only__mid {
    display: none;
}
.carousel__size {
    width: 100%;
}
.content__mechanic {
    margin-top: $spacing - 4rem;
    margin-bottom: $spacing - 4rem;
}
.content__text {
    padding: $spacing;
}
.link {
    @if $theme == christmas {
        color: $main-christmas;
    }
    @else { 
        color: $main-color;
}
}
.map__size {
    @include size(35rem, 50rem)
}
.racing {
    margin-top: $spacing - 3rem;
    margin-bottom: $spacing - 3rem;
}
.btn__color {
    @if $theme == christmas {
        background-color: $background-christmas;
    }
    @else { 
        background-color: $background;
    }
    font-size: $text-size;
}
.send__color {
    @extend .btn__color;
    @if $theme == christmas {
        background-color: $main-christmas;
    }
    @else { 
        background-color: $main-color;
    }
}
#mybutton {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: $contrast-color; 
    color: $text-color; 
    cursor: pointer; 
    padding: $spacing - 3rem; 
    border-radius: 60px; 
    font-size: $text-size;
}
#mybutton:hover {
    background-color: $contrast-christmas; 
}