
@import "variables";

body {
    @if $theme == christmas {
        background-color: $background-christmas
    }
    @else { 
        background-color: $background;
}
}
.company {
    width: 12rem;
}
.navbar-color {
    @if $theme == christmas {
        background-color: $main-christmas;
    }
    @else { 
        background-color: $main-color;
}

    a {
        color: $text-color;
        }
}
.footer {
    padding: 7rem 7rem;
    margin-top: $spacing;
    @if $theme == christmas {
        background-color: $main-christmas;
    }
    @else { 
        background-color: $main-color;
    }
}
.header__banner {
    @include flexcenter;
}
.card__dad {
    @include flexcenter;
    img {
        height: 16rem;
    }
}
.card__body--color {
    @if $theme == christmas {
        background-color: $contrast-christmas;
    }
    @else { 
        background-color: $contrast-color;
    }
}
.my__row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}